/* Iconos SVG Unicolor */
.icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    stroke: currentColor;
}

.icon-large {
    width: 48px;
    height: 48px;
}

.icon-xl {
    width: 64px;
    height: 64px;
}

.icon-primary {
    color: var(--color-primary);
}

.icon-secondary {
    color: var(--color-secondary);
}

.icon-white {
    color: var(--color-white);
}

